@import "variables.scss";
@import "mixins.scss";

body.body--project {

  figure, figure img, .content img {
    width: 100%;
  }

  figure.hero {
    width: 100%;
    img {
      width: 100%;
      margin: 0;
    }
    
    figcaption {
      color: $concrete;
    }
  }
  .project-imagery {
    width: 100%;
    margin: 5rem 0;
    img {
      width: 100%;
    }
  }
}