@import "variables.scss";
@import "mixins.scss";

body.body--project {

  figure, figure img, .content img {
    width: 100%;
    height: auto;
  }

  figure.hero {
    width: 100%;
    img {
      width: 100%;
      margin: 0;
    }
    
    figcaption {
      color: $concrete;
    }
  }
  .project-imagery {
    width: 100%;
    margin: 5rem 0;
    img {
      width: 100%;
    }
  }
}

img.bookcover {
  border-radius: 4px;
  box-shadow: 0px 20px 52px 0px rgba(0, 0, 0, 0.25);
}
img.scaledown {
  transform:scale(0.9); 
}