@font-face {
  font-family: "Faktum-Con";
  src: url("/media/fonts/Faktum-ConRegular/font.woff2") format("woff2"), url("../media/fonts/Faktum-ConRegular/font.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Faktum-Con";
  src: url("/media/fonts/Faktum-ConSemiBold/font.woff2") format("woff2"), url("../media/fonts/Faktum-ConSemiBold/font.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "GTAplina";
  src: url("/media/fonts/GT-Alpina-Standard-Regular-Trial.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GTAplina-Italic";
  src: url("/media/fonts/GT-Alpina-Standard-Regular-Italic-Trial.woff2") format("woff2");
  font-weight: normal;
  font-style: italic, oblique;
}
@font-face {
  font-family: "GTAplina-Light";
  src: url("/media/fonts/GT-Alpina-Standard-Light-Trial.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GTAplina-Light";
  src: url("/media/fonts/GT-Alpina-Standard-Light-Italic-Trial.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}
section.white {
  background-color: white;
  color: #140D05;
}
section.white p a, section.white p a:active, section.white p a:visited {
  color: inherit;
}
section.white p a:focus, section.white p a:hover {
  color: #AF5F00;
}

section.warmgrey {
  background-color: #EEE9E6;
  color: #140D05;
}
section.warmgrey p a, section.warmgrey p a:active, section.warmgrey p a:visited {
  color: inherit;
}
section.warmgrey p a:focus, section.warmgrey p a:hover {
  color: #AF5F00;
}

section.taupe {
  background-color: #CACAD0;
  color: #140D05;
}
section.taupe p a, section.taupe p a:active, section.taupe p a:visited {
  color: inherit;
}
section.taupe p a:focus, section.taupe p a:hover {
  color: #AF5F00;
}

section.accent {
  background: #AF5F00;
  color: #F7F4F3;
}
section.accent p a, section.accent p a:active, section.accent p a:visited {
  color: inherit;
}
section.accent p a:focus, section.accent p a:hover {
  color: white;
}
section.accent a.button:hover, section.accent a.button:focus, section.accent a.button:visited:hover, section.accent a.button:visited:focus,
section.accent button:hover,
section.accent button:focus, section.accent button:visited:hover, section.accent button:visited:focus,
section.accent button.button-arrow:hover,
section.accent button.button-arrow:focus, section.accent button.button-arrow:visited:hover, section.accent button.button-arrow:visited:focus {
  background-color: #864900;
  color: white;
}

section.dark {
  background: #140D05;
  color: #EEE9E6;
}
section.dark p a, section.dark p a:active, section.dark p a:visited {
  color: #AF5F00;
}
section.dark p a:focus, section.dark p a:hover {
  color: white;
}
section.dark a.button, section.dark a.button:visited,
section.dark button, section.dark button:visited,
section.dark button.button-arrow, section.dark button.button-arrow:visited {
  background-color: #CBC8C6;
  color: #140D05;
}
section.dark a.button:hover, section.dark a.button:focus, section.dark a.button:visited:hover, section.dark a.button:visited:focus,
section.dark button:hover,
section.dark button:focus, section.dark button:visited:hover, section.dark button:visited:focus,
section.dark button.button-arrow:hover,
section.dark button.button-arrow:focus, section.dark button.button-arrow:visited:hover, section.dark button.button-arrow:visited:focus {
  background-color: white;
  color: #140D05;
}
section.dark a.link--rss {
  background-color: rgba(148, 143, 137, 0.3);
  color: white;
}
section.dark a.link--rss:before {
  content: url("../media/icon-rss-invert.svg");
  width: 1rem;
  height: 1rem;
  margin-right: 0.3rem;
}
section.dark a.link--rss:hover {
  background-color: #AF5F00;
}
section.dark a.link--rss:hover:before {
  content: url("../media/icon-rss-invert.svg");
}

section {
  padding: 1rem 1rem 1.2rem;
}
@media (min-width: 420px) {
  section {
    padding: 1.5rem 1.5rem 1.8rem 1.5rem;
  }
}
@media (min-width: 769px) {
  section {
    padding: 2rem 2rem 2.5rem 2rem;
  }
}

.section--large {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.section--medium {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.container--wide {
  margin: 0 auto;
  max-width: 1200px;
}

.container--normal {
  margin: 0 auto;
  max-width: 980px;
}

.container--narrow {
  margin: 0 auto;
  max-width: 770px;
}

/*# sourceMappingURL=layout.css.map */
