@font-face {
  font-family: "Faktum";
  src: url("/media/fonts/Faktum-ConRegular/font.woff2") format("woff2"), url("../media/fonts/Faktum-ConRegular/font.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Faktum";
  src: url("/media/fonts/Faktum-ConSemiBold/font.woff2") format("woff2"), url("../media/fonts/Faktum-ConSemiBold/font.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "GTAplina";
  src: url("/media/fonts/GT-Alpina-Standard-Regular-Trial.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GTAplina-Italic";
  src: url("/media/fonts/GT-Alpina-Standard-Regular-Italic-Trial.woff2") format("woff2");
  font-weight: normal;
  font-style: italic, oblique;
}
@font-face {
  font-family: "GTAplina";
  src: url("/media/fonts/GT-Alpina-Standard-Light-Trial.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "GTAplina";
  src: url("/media/fonts/GT-Alpina-Standard-Light-Italic-Trial.woff2") format("woff2");
  font-weight: light;
  font-style: italic;
}
@font-face {
  font-family: "Signifier";
  src: url("/media/fonts/test-signifier-light.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Signifier";
  src: url("/media/fonts/test-signifier-light-italic.woff") format("woff");
  font-weight: 200;
  font-style: oblique;
}
@font-face {
  font-family: "Epicene";
  src: url("/media/fonts/test-epicene-text-light.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Epicene";
  src: url("/media/fonts/test-epicene-text-light-italic.woff2") format("woff");
  font-weight: 200;
  font-style: oblique;
}
body.body--post main {
  margin-left: 1rem;
  margin-right: 1rem;
}
body.body--post nav.nav--primary {
  border-bottom: none;
}
@media (min-width: 769px) {
  body.body--post nav.nav--primary {
    border-bottom: 1px solid #CBC8C6;
  }
}
body.body--post .wrapper {
  background-color: #EEE9E6;
}
body.body--post .post-container {
  margin: 1rem auto 3rem;
  padding: 2rem 1rem 3rem 1rem;
  background-color: white;
  background-image: url("/media/donkeyear.svg");
  background-size: 1.75rem;
  background-position: top right;
  background-repeat: no-repeat;
}
@media (min-width: 1024px) {
  body.body--post .post-container {
    background-size: 2rem;
    margin: 4.5rem auto 2rem;
    transform: translateY(-2rem);
    transition: ease transform 0.5s;
  }
}
@media (min-width: 1200px) {
  body.body--post .post-container {
    padding: 3rem 3rem 6rem 3rem;
  }
}
body.body--post .post-container aside > * {
  display: block;
  margin-bottom: 0.75rem;
}
body.body--post .post-container .content {
  max-width: 660px;
}
body.body--post .post-container .content .content-head h1, body.body--post .post-container .content .content-head p {
  font-size: 2rem;
  line-height: 1.2;
  font-family: "GTAplina", "Signifier Light", "GTAplina-Light", Georgia, "Times New Roman", serif;
}
@media (min-width: 769px) {
  body.body--post .post-container .content .content-head h1, body.body--post .post-container .content .content-head p {
    font-size: 2.5rem;
  }
}
body.body--post .post-container .content p, body.body--post .post-container .content li {
  font-family: "GTAplina", "Signifier Light", "GTAplina-Light", Georgia, "Times New Roman", serif;
}
body.body--post .post-container .content h1 {
  margin-bottom: 0;
}
body.body--post .post-container .content img {
  width: 100%;
}

@media (max-width: 420px) {
  section.recent-posts {
    padding: 0;
  }
}

.post-list {
  margin-bottom: 2rem;
}

.post-teaser {
  border-bottom: 1px solid #CBC8C6;
}
.post-teaser:first-of-type {
  border-top: 1px solid #CBC8C6;
}
.post-teaser a.post-teaser--link {
  flex-direction: row-reverse;
  align-items: start;
  gap: 1rem;
  padding: 1.25rem 0;
  color: #140D05;
  display: flex;
  text-decoration: none;
  transition: all ease 100ms;
}
.post-teaser a.post-teaser--link:hover, .post-teaser a.post-teaser--link:focus {
  background-color: #F7F4F3;
}
.post-teaser a.post-teaser--link:hover h2, .post-teaser a.post-teaser--link:hover h3, .post-teaser a.post-teaser--link:hover date, .post-teaser a.post-teaser--link:focus h2, .post-teaser a.post-teaser--link:focus h3, .post-teaser a.post-teaser--link:focus date {
  color: #140D05;
}
.post-teaser a.post-teaser--link:active {
  transform: translateY(2px);
}
@media (min-width: 420px) {
  .post-teaser a.post-teaser--link {
    align-items: center;
    gap: 1.5rem;
  }
}
@media (min-width: 769px) {
  .post-teaser a.post-teaser--link {
    padding: 1.5rem 1rem;
    flex-direction: row;
  }
}
.post-teaser img.post-teaser--thumb {
  min-width: 64px;
  width: 64px;
  aspect-ratio: 1/1;
  border-radius: 4px;
  object-fit: cover;
}
@media (min-width: 420px) {
  .post-teaser img.post-teaser--thumb {
    min-width: 120px;
    width: 120px;
  }
}
.post-teaser .post-teaser--data {
  display: flex;
  align-items: start;
  flex-direction: column;
  flex-grow: 1;
}
@media (min-width: 769px) {
  .post-teaser .post-teaser--data {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    gap: 1.5rem;
  }
}
.post-teaser .post-teaser--data .post-teaser--title {
  flex-grow: 1;
  gap: 0.5rem;
}
.post-teaser .post-teaser--data .post-teaser--title h2, .post-teaser .post-teaser--data .post-teaser--title h3 {
  font-family: "Faktum", Helvetica, Arial, sansserif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 0.25rem;
}
.post-teaser .post-teaser--data .post-teaser--title p {
  font-family: "GTAplina", "Signifier Light", "GTAplina-Light", Georgia, "Times New Roman", serif;
  color: #948F89;
}
.post-teaser .post-teaser--data .post-teaser--title h2 {
  font-size: 1.25rem;
}
@media (min-width: 769px) {
  .post-teaser .post-teaser--data .post-teaser--title h2 {
    font-size: 1.35rem;
  }
  .post-teaser .post-teaser--data .post-teaser--title p {
    font-size: 1.125rem;
  }
}
.post-teaser .post-teaser--data .post-teaser--date {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 0.875rem;
}

body.body--post .post-teaser a.post-teaser--link:hover, body.body--post .post-teaser a.post-teaser--link:focus {
  background-color: #EEE9E6;
}
@media (max-width: 420px) {
  body.body--post .post-teaser a.post-teaser--link {
    padding: 1.5rem 0;
  }
}

section.dark .post-teaser {
  border-bottom: 1px solid rgba(148, 143, 137, 0.5);
}
section.dark .post-teaser:first-of-type {
  border-top: 1px solid rgba(148, 143, 137, 0.5);
}
section.dark .post-teaser a.post-teaser--link {
  color: #EEE9E6;
}
section.dark .post-teaser a.post-teaser--link:hover, section.dark .post-teaser a.post-teaser--link:focus {
  background-color: rgba(148, 143, 137, 0.07);
}
section.dark .post-teaser a.post-teaser--link:hover h2, section.dark .post-teaser a.post-teaser--link:hover h3, section.dark .post-teaser a.post-teaser--link:hover date, section.dark .post-teaser a.post-teaser--link:focus h2, section.dark .post-teaser a.post-teaser--link:focus h3, section.dark .post-teaser a.post-teaser--link:focus date {
  color: white;
}
section.dark .post-teaser img.post-teaser--thumb {
  min-width: 48px;
  width: 48px;
  border-radius: 4px;
}
@media (min-width: 420px) {
  section.dark .post-teaser img.post-teaser--thumb {
    min-width: 80px;
    width: 80px;
  }
}
section.dark .post-teaser .post-teaser--date {
  display: none;
}

/*# sourceMappingURL=post.css.map */
