{% extends "layouts/base.njk" %} 

{% block content %}

  <article>
    <div class="post-container content-container container--normal">
      <aside>
        <time>{{ date | dateFilter }}</time>
        <p>{{ keywords }}</p>
        <a href="/newsletter">↩︎ all newsletters</a>
      </aside>
      
      <div class="content">
        <div class="content-head">
          <h1>{{ title }}</h1>
          <p class="intro">{{ abstract }}</p>
        </div>
        <figure>
          <img src="{{ image }}" alt="imageAlt" />
          <figcaption>{{ caption }}</figcaption>
        </figure>
        <p>{{ intro }}</p>
      {{ content | safe }}
      </div>
    </div>  
  </article>

{% endblock %}