{% extends "layouts/base.njk" %} 

{% block content %}

  <article class="container--narrow">
    <div class="content-container">

    
      <div class="content">
      <img src="{{ hero.image }}" alt="{{ hero.imageAlt }}" />
        {{ content | safe }}
      </div>
    </div>

  </article>

{% endblock %}