{% extends "layouts/base.njk" %} 

{% block content %}

  <article>
    <div class="pageheader--accent">
      <div class="text">
        <h1>{{ title }} <span class="label">{{ label }}</span></h1>
        <div class="description">
          <p>{{ description }}</p>
        </div>
      </div>
      <figure>
        <img src="{{ hero.image }}" alt="{{ hero.imageAlt }}" />
      </figure>
    </div>

    {{ content | safe }}
  
{% endblock %}