<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% include "partials/meta-info.njk" %}

  <link rel="stylesheet" href="/css/style.css">
  <link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml" />

</head>
<body class="body--getreadywithme">
  
  <div class="wrapper">
    {% include "partials/navigation.njk" %}
    
    <main tabindex="-1">
      {% block content %}
      <div>
        {{ content | safe }}
      </div>
      {% endblock %}
    </main>

    {% include "partials/footer.njk" %}
  </div>
  
</body>
</html>