<div class="section-header">
  <h2 class="header--title">About me</h2>
</div>

<div class="layout-grid--duo" id="about">
  <div>
    <img class="workshop-photo" src="media/christoph-rauscher-workshop.jpg" alt="Christoph Rauscher during a workshop">
    <p>I’m Christoph, a designer, illustrator, writer and visual thinker based in Berlin, Germany. I collaborate with companies big and small to visualize their ideas and push projects into the right direction. In the past, I’ve worked as a design director at Edenspiekermann and as the art director of ZEIT Online.</p>

    <p>My work ranges from design direction and strategic design to hands-on visual and UI design. I also do illustration, editorial and book design, and I write for magazines and corporate publications.</p>

    <p>I believe that design is changing its role constantly, and I enjoy adapting to it. From describing pixel-perfect mockups, design has been shifted to a broader field of projection: Basically, everything can be designed — which defines the role of the designer as a mediator between needs, ideas and stakeholders. I use design as a tool to connect people, and make invisible thoughts tangible.</p>

    <h3>Selected Clients</h3>
    <p class="clients">I’ve worked with great people on great projects, such as: DIE ZEIT & ZEIT Online, Edenspiekermann, Insel Verlag, Rowohlt verlag, Carl-Auer Verlag, Falter Verlag, Third Wave Berlin, WDR, Berlinale, STATE Design Consultancy, Stan Hema, DOK Leipzig, frieze, Ringier, jetzt.de / Süddeutsche Zeitung, TLGG, BCG, Phineo, and more.</p>
  </div>

  <div>
    <p>Here’s what I can help you with:</p>
    <ul class="list--nostyle list--services">
      <li><strong>Strategic design and consulting:</strong> Where is your idea or project headed? Let’s find out in a joined ideation session.</li>
      <li><strong>Website design:</strong> From concept and architecture to interface design, making responsive websites is my jam.</li>
      <li><strong>Writing:</strong> Interviews, reports, corporate text, tone of voice or content strategy – I can help you find the right words.</li>
      <li><strong>Illustration:</strong> I draw key visuals, explanatory imagery and editorial illustrations. Check the <a href="/drawings">sketchbook</a> for examples.</li>
    </ul>

    <h3 id="contact">Say Hello</h3>
    <p class="contact">If you have an interesting idea to share or collaborate on, I’d be happy to hear from you! I enjoy team work, enthusiasm, literature, watching animals, and meaningful conversation:</p>

    <div class="contact-cta">
      <a class="button" href="mailto:mail@christophrauscher.de?subject=I don’t want to wake you up but I really need to tell you something">Send me an email</a>
    </div>

    <p>I’m also on <a rel="me" href="https://mastodon.social/@christowski" target="_blank">Mastodon</a>, <a href="http://instagram.com/christowski" target="_blank">Instagram</a> and <a href="https://de.linkedin.com/in/rauscherchristoph" target="_blank">LinkedIn</a>.</p>
  </div>

</div>