<footer>
  <div class="footer-nav--primary">
    <div class="social">
      <a rel="me" href="https://mastodon.social/@christowski" target="_blank"><img src="/media/mastodon.svg" title="@christowski" alt="Mastodon Toots"></a>
      <a href="https://instagram.com/christowski" target="_blank"><img src="/media/instagram.svg" title="Instagram: christowski" alt="Instagram Photos"></a>
      <a href="https://de.linkedin.com/in/rauscherchristoph" target="_blank"><img src="/media/linkedin.svg" title="LinkedIn" alt="LinkedIn Profile"></a>
    </div>
    
    <div>
      <a class="scroll" href="#">↖ Back to top</a>
    </div>
  </div>
  
  <div class="footer-nav--secondary">
    <ul>
      <li><a href="/newsletter">Newsletter</a></li>
      <li><a href="/colophone#feeds">RSS Feeds</a></li>
      <li><a href="/colophone">About this website</a></li>
      <li><a href="#">Imprint & Privacy</a></li>
      <li><a href="/everything">Everything</a></li>
    </ul>

    <div>
      <p>{% year %} &copy; Christoph Rauscher</p>
    </div>
  </div>
</footer>