{% for item in collections.writing %}
  <li class="writing-card">
    <a href="{{ item.url }}">
      <p>{{ item.data.label }}</p>
      <h3>{{ item.data.title }}</h3>
      <p>{{ item.data.description }}</p>
    </a>
  </li>
{% endfor %}

{# <img src="{{ item.data.hero.image }}" 
      srcset="{{ item.data.hero.image }} 1x, {{ item.data.hero.image2x }} 2x"
      alt="{{ item.data.hero.imageAlt }}" /> #}