<header role="banner">
  <nav class="nav--secondary">
    <div class="cr-logo">
      <a aria-label="{{ site.name }} - Home" href="/">
      <img src="/media/cr-logo.svg" alt="Logo">
      {{ site.name }}</a>
    </div>
  </nav>
</header>