<div class="newsletter-signup">
    <div class="newsletter-signup--descr">
      <p>I write an irregular monthly newsletter called “Christel’s Corner”, which is an easy read with thoughts and inspiration on everyday life, feelings, technology, design and things that caught my attention. You can read previous issues, or simply sign up here:</p>
      <div class="newsletter-signup--form">
        <form
          action="https://buttondown.email/api/emails/embed-subscribe/christophrauscher"
          method="post"
          target="popupwindow"
          onsubmit="window.open('https://buttondown.email/christophrauscher', 'popupwindow')"
          class="embeddable-buttondown-form">
          <input type="email" placeholder="Your email" name="email" id="bd-email" />
          <button class="button-arrow" type="submit" value="Subscribe">Subscribe</button>
          
          <p>
            <a href="https://buttondown.email/christophrauscher/archive/" target="_blank">View the archive</a> or subscribe via <a href="https://buttondown.email/christophrauscher/rss" target="_blank">RSS</a>
          </p>
        </form>
      </div>
    </div>
    <div class="newsletter-signup--img">
      <img src="/media/postman-white.png" alt="Illustration of a little post man">
    </div>
  </div>