<div class="section-header">
  <h2 class="header--title">My writing practice</h2>
</div>

<div class="layout-grid--duo spacer-b--s">
  <section class="writing-card">
    <p>I teach a a yearly summer workshop called <a href="">Writing = Design</a> at <em>UdK Berlin</em>. For <em>form design magazine</em>, I wrote a column about <a href="">digital nostalgia</a>. I’ve been <a href="">blogging</a> since 2006, and sometimes, I even make <a href="">books</a>.</p>
    <p>Writing is an integral part of design for me. And—once you took the leap—it can be fun!</p>
  </section>

  <section class="recent-posts">
    <div class="container--normal">
      <div class="section-header">
        <h2 class="header--title">Musings on the blog</h2>
        <div class="header--meta">
          <a class="link--pill link--rss" href="{{ site.url }}/feed.xml">RSS</a>
        </div>
      </div>
      <ul class="post-list">
        {% include "partials/list-posts.njk" %}
      </ul>
      <a class="button-arrow" href="/writing">All posts</a>
    <div>
  </section>

</div>
